* {
    font-family: Verdana;
}

html {
    font-size: 20px;
}
/* mit "rem" anderer Text danach ausrichten für z.B. Handy-Zugänglichkeit */

/* Box-Margin und Padding überall gleich! */

body { 
    background: linear-gradient(#3399ff, #cce4ff);
}

.navPic {
  width: 110px;
  height: 110px;
  float: left;
}

.navigation { 
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        border: 5px solid black;
        margin: 10px;
        text-align: center;
        background-color: #3399ff;
        text-align: center;
}

.navigation a {
    background: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 5px;
    color: #062366;
    display: inline-block;
    margin: 20px;
    padding: 20px 15px;
    text-decoration: none;
    box-shadow: 0px 5px;
    font-size: 24px;
  }
  
.navigation a:hover {
    background: #dee7ee;
    border: 1px solid #13d9f8;
    color: black;
  }

.navigation a:active {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px;
    background-color: #C0D6DF;
    color: #ffffff;
  }

  .navigation a.now {
    background: Orange;
    box-shadow: 0 0;
    border: 3px solid black;
    color: black;
  }




main { 
    position: relative;
}

header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

h1 {
    font-size: xx-large;
}

h2 { 
   font-size: x-large;
}

h1, h2 {
  color: white;
}

a {
  color: white;
}

a:hover {
 color: #f81717;
}



section {
    text-align: justify;
}
/* 
#start {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
} */

#start {
  height: 300px;
}

#leftBox {
  border: 3px solid black;
  border-radius: 10px;
  float: left;
  width: 800px;
  height: 450px;
  margin: 10px;
  padding: 10px;
}

#rightBox {
  float: center;
  width: 450px;
  height: 470px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}


.nieuws {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

.datum {
  font-size: 13px;
  color: grey;
}

.bericht {
  position: relative;
  box-sizing: border-box;
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  border: 3px solid black;
  margin: 10px;
}

/* .tekst {

} */

#beleidsplan {
  position: relative;
  box-sizing: border-box;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

.samenstelling {
    list-style: none;
    text-align: left;
}

/* .zakinfo1 {
    
}

.zakinfo2 {
    
} */

#img {
  text-align: left;
}

.pic {
    height: 120px;
    width: 180px;
  }

.bild {
  height: 110px;
  width: 215px;
} 

.bild2 {
  height: 110px;
  width: 225px;
}

.bild3 {
  height: 135px;
  width: 180px;
}

.bild4 {
  height: 145px;
  width: 170px;
}



/* logos aanpassen, zodat ze mooi uitzien*/ 
table {
    margin: 10px auto;
    overflow-y: scroll;
    position: static;
    width: 60%;
    float: left;
  }
  
  thead th {
    background: #88CCF1;
    color: #FFF;
    font-family:'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
  }

  td {
    text-align: center;
  }

#jaarrekening {
    float: right;
    text-align: right;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    color: black;
    width: 370px;
  }

#jaarrekening h2, #jaarrekening h3, #jaarrekening p {
    color: black;
    text-align: right;
  }




.beleidsplan {
    text-decoration: none;
}


/*Contactformulier*/

#ft-form input,
#ft-form textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; 
}

#ft-form fieldset {
  margin: 0;
  padding: 0;
}

#ft-form *,
#ft-form ::after,
#ft-form ::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}


#ft-form [type=email],
#ft-form [type=text],
#ft-form textarea {
  background-color: #fff;
  border-color: black;
  border-width: 1px;
  border-radius: 2px;
  padding-top: .5rem;
  padding-right: .75rem;
  padding-bottom: .5rem;
  padding-left: .75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}


#ft-form fieldset {
  font-size: 100%;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  margin-left: 20px;
}
#ft-form fieldset:first-child {
  margin-top: 10px;
}
#ft-form fieldset > * {
  display: block;
  margin-bottom: 1.5rem;
}
#ft-form fieldset > :last-child {
  margin-bottom: 10px;
}
#ft-form fieldset > .two-cols > * {
  display: block;
  margin-bottom: 1.5rem;
}
#ft-form fieldset > .two-cols > :last-child {
  margin-bottom: 10px;
}

#ft-form fieldset div.inline > label:last-child {
  margin-right: 0;
}

/* hier Größe der Felder ändern*/
#ft-form [type=email] {
  margin-left: 9px;
  border-radius: .375rem;
  margin-top: .25rem;
  box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
  border-color: #bbb;
  width: 30%;
}
#ft-form [type=text] {
  margin-left: 75px;
  border-radius: .375rem;
  margin-top: .25rem;
  box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
  border-color: #bbb;
  width: 20%;
}
#ft-form textarea {
  border-radius: .375rem;
  margin-top: .25rem;
  margin-left: 19px;
  box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
  border-color: #bbb;
  width: 50%;
}


#ft-form [type=email]:focus,
#ft-form [type=text]:focus,
#ft-form textarea:focus {
  border-color: #bbb;
  box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000;
}

#ft-form .btns {
  text-align: left;
  margin-top: 10px;
  margin-left: 166px;
}


#ft-form .btns > input[type=submit] {
  display: inline-block;
  box-shadow: 0px 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  line-height: 1.25rem;
  border-width: 1px;
  border-radius: .375rem;
  border-color: #bbb;
  background-color: #fff;
  cursor: pointer;
  margin-left: .5rem;
  font-weight: 700
}

/* wie bei Navigation Hover, schatten etc.*/

#ft-form .btns > input[type=submit]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #bbb;
  box-shadow: 0 0 0 2px #fff,0 0 0 4px rgba(199,210,254,.5),0 0 #0000;
}
#ft-form .btns > input[type=submit] {
  background-color: #f3f4f5;
  transition: background-color .1s;
}
#ft-form .btns > input[type=submit]:hover {
  background-color: hsla(0, 5%, 43%, 0.858);
  color: white;
}

/* Footer + Inhalt */


footer {
  position: static;  
  display: grid;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  font-size: small;
}

.FB {
  height: 40px;
  width: 40px;
}


/*Optimierung für andere Geräte*/

@media only screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
}

/* Optimieren für alle Geräte */



/* mit "rem" anderer Text danach ausrichten für z.B. Handy-Zugänglichkeit */

/* Box-Margin und Padding überall gleich! */

@media only screen and (max-width: 480px) {
.navPic {
display: none;
  }

.navigation { 
      position: relative;
      box-sizing: border-box;
      width: 100%;
      border-radius: 10px;
      padding: 0.5%;
      border: 3px solid black;
      margin: 0.5%;
      text-align: center;
      background-color: #3399ff;
      text-align: center;
}

.navigation a {
  background: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 5px;
  color: #062366;
  display: inline-block;
  margin: 2%;
  padding: 2%;
  text-decoration: none;
  box-shadow: 0px 5px;
  font-size: 18px;
}


.navigation a.now {
  background: Orange;
  box-shadow: 0 0;
  border: 3px solid black;
  color: black;
}


main { 
  position: relative;
}

header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 0.5%;
  border: 3px solid black;
  margin: 0.5%;
}

h1 {
  font-size: large;
}

h2 {
  font-size: large;
}

#start {
height: 100px;
}

#leftBox {
border: 3px solid black;
border-radius: 10px;
float: left;
width: 70%;
height: 300px;
margin: 0.5%;
padding: 0.5%;
}

#rightBox {
float: center;
width: 90px;
height: 100%;
margin: 0.5%;
margin-top: 1%;
margin-bottom: 0.5%;
padding: 0.5px;
}


.nieuws {
position: relative;
box-sizing: border-box;
width: 100%;
border-radius: 10px;
padding: 0.5%;
border: 3px solid black;
margin: 0.5%;
}

.datum {
font-size: 13px;
color: grey;
}

.bericht {
position: relative;
box-sizing: border-box;
width: 70%;
border-radius: 3px;
padding: 0.5%;
border: 3px solid black;
margin: 0.5%;
}

/* .tekst {

} */

#beleidsplan {
position: relative;
box-sizing: border-box;
width: 70%;
border-radius: 5px;
padding: 0.5%;
border: 3px solid black;
margin: 0.5%;
}

.samenstelling {
  list-style: none;
  text-align: left;
}

/* .zakinfo1 {
  
}

.zakinfo2 {
  
} */

#img {
text-align: left;
}

.pic {
  height: 60px;
  width: 90px;
}

.bild {
height: 55px;
width: 108px;
} 

.bild2 {
height: 55px;
width: 112px;
}

.bild3 {
height: 66px;
width: 90px;
}

.bild4 {
height: 73px;
width: 85px;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family:'Lato', sans-serif;
  font-size: 0.7rem;
  font-weight: 20;
  letter-spacing: 2px;
  text-transform: uppercase;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
  font-weight: 200;
  padding: 0.5%;
  text-align: left;
  width: 20%;
}

#jaarrekening {
  text-align: left;
  margin: 0.5%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  color: black;
}

#jaarrekening h2, #jaarrekening h3, #jaarrekening p {
  color: black;
  text-align: left;
}



/* hier Größe der Felder ändern*/
#ft-form [type=email] {
margin-left: 2%;
border-radius: .375rem;
margin-top: .25rem;
box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
border-color: #bbb;
width: 30%;
}
#ft-form [type=text] {
margin-left: 10%;
border-radius: .375rem;
margin-top: .25rem;
box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
border-color: #bbb;
width: 20%;
}
#ft-form textarea {
border-radius: .375rem;
margin-top: .25rem;
margin-left: 2%;
box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
border-color: #bbb;
width: 50%;
}


#ft-form [type=email]:focus,
#ft-form [type=text]:focus,
#ft-form textarea:focus {
border-color: #bbb;
box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000;
}

#ft-form .btns {
text-align: left;
margin-top: 10px;
margin-left: 20%;
}


/* Footer + Inhalt */


footer {
position: static;  
display: grid;
box-sizing: border-box;
width: 100%;
border-radius: 5px;
padding: 0.5%;
border: 1px solid black;
margin: 0.5%;
font-size: small;
}


}